
<!--
author Wilson Serge Shalo

-->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Portfolio || Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="My Personal Website Portfolio Wilson Serge Shalo" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Custom Theme files -->
	<link href="/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
	<!--gallery -->
	<link type="text/css" rel="stylesheet" href="/css/cm-overlay.css" />
	<!-- //gallery -->
	<link href="/css/style.css" type="text/css" rel="stylesheet" media="all">
	<link href="/css/font-awesome.css" rel="stylesheet">
	<!-- font-awesome icons -->
	<!--//Custom Theme files-->
	<!-- js -->
	<script src="/js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Arsenal:400,400i,700,700i" rel="stylesheet">
	<!-- //web-fonts -->
</head>

<body>
	<!-- banner -->
	<div id="home" class="banner">
		<div class="banner-agileinfo">
			<!-- header -->
			<div class="header">
				<div class="container">
					<div class="menu">
						<a href="" id="menuToggle"> <span class="navClosed"></span> </a>
						<nav>
							<a href="#home" class="active scroll">Home</a>
							<a href="#about" class="scroll">About Me</a>
							<a href="#skills" class="scroll">Skills</a>
							<a href="#gallery" class="scroll">My Work</a>
							<a href="#services" class="scroll">My Stack</a>
							<a href="#contact" class="scroll">Contact</a>
						</nav>
						<script>
							(function ($) {
								// Menu Functions
								$(document).ready(function () {
									$('#menuToggle').click(function (e) {
										var $parent = $(this).parent('.menu');
										$parent.toggleClass("open");
										var navState = $parent.hasClass('open') ? "hide" : "show";
										$(this).attr("title", navState + " navigation");
										// Set the timeout to the animation length in the CSS.
										setTimeout(function () {
											console.log("timeout set");
											$('#menuToggle > span').toggleClass("navClosed").toggleClass("navOpen");
										}, 200);
										e.preventDefault();
									});
								});
							})(jQuery);
						</script>

					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //header -->
			<div class="banner-text">
				<div class="container">
					<h1><a href="/">Wilson</a></h1>
					<h2 class="w3ls-bnrtext">I am <span> a full stack developer</h2>
					<p class="w3ls-p">an interactive full stack web developer with the passion for creativity</p>
					<a href="#about" class="buy btn-wayra scroll">Explore my work</a>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- about -->
	<div class="agile-about w3ls-section text-center" id="about">
		<div class="container">
			<h3 class="agileits-title">about me</h3>
			<div class="agileits-about-grid">
				<p>Hi, i'm Wilson and i love coding. i'm a full stack web developer with over 7 years of
				working on real world projects. I believe in the practice of good coding skills, that is,
				following a process to build software, which is; planning, creating, testing, and deployment.
				I love building scalable and robust software. At my free time i love running.</p>
			</div>
			<a href="#contact" class="wthree- about-link scroll">hire me</a>
		</div>
	</div>
	<!-- //about -->
	<!-- about-bottom -->
	<div class="agileits-about-btm">
		<div class="container">
			<div class="w3-flex">

			<div class="col-md-4 col-sm-4 ab1 agileits-about-grid2">
				<span class="fa fa-graduation-cap  wthree-title-list" aria-hidden="true"></span>
				<h4 class="agileinfo-head">education</h4>
				<h5>BS Computer Science</h5>
				<p>Catholic University Buea</p>

			</div>
			<div class="col-md-4 col-sm-4 ab1 agileits-about-grid3">
				<span class="fa fa-shield  wthree-title-list" aria-hidden="true"></span>
				<h4 class="agileinfo-head">expertise</h4>
				<h5>MEAN STACK</h5>
				<h5>LAMP STACK</h5>
				<h5>MONGODB AND MYSQL</h5>
			</div>
			<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //about-bottom -->
	<!-- skills -->
	<div class="agile-service w3ls-section" id="skills">
		<div class="container">
			<div class="col-md-5 w3_agileits-service-left">
				<h3 class="agileits-title">skills</h3>
				<p>JavaScript, jQuery, ajax, php, html5, css, node.js, mysql, mongoDB, React and Redux, Express, socket.io, Bootstrap, angular.js, Babel, JSX, Angular.js, AWS, D3</p>
			</div>
			<div class="col-md-7 skills-right">
				<div class="vertical-skills  pull-right xs-center">
					<ul class="list-inline">
						<li>
							<div class="skill" style="height:100%; background:#ff9d0d;"><span class="value">100%</span></div><span class="title">MEAN STACK</span></li>
						<li>
							<div class="skill" style="height:100%; background:#03a9f4;"><span class="value">100%</span></div><span class="title">LAMP STACK</span></li>
						<li>
							<div class="skill" style="height:100%; background:#b32eca;"><span class="value">100%</span></div><span class="title">MONGODB</span></li>
						<li>
							<div class="skill" style="height:100%; background:#009688;"><span class="value">100%</span></div><span class="title">CSS</span></li>
						<li>
							<div class="skill" style="height:100%; background:#6361f0;"><span class="value">100%</span></div><span class="title">MYSQL</span></li>

					</ul>
				</div>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="w3ls-section agileits-gallery" id="gallery">
		<div class="container">
			<h3 class="agileits-title">Some of MY work</h3>
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li role="presentation"><a href="#learning" role="tab" id="learning-tab" data-toggle="tab" aria-controls="learning" onclick="window.open('https://shippingdb.herokuapp.com/login', '_blank')">Shipping DB</a></li>
					<li role="presentation"><a href="#playing" role="tab" id="playing-tab" data-toggle="tab" aria-controls="playing" onclick="window.open('http://oldsailorsshipping.com/', '_blank')">Shipping site</a></li>
					<li role="presentation"><a href="#painting" role="tab" id="painting-tab" data-toggle="tab" aria-controls="painting" onclick="window.open('https://guessthepassword.herokuapp.com/', '_blank')">Guess the password</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="home-main" aria-labelledby="home-tab">
						<div class="w3_tab_img">
							<div class="col-sm-3 w3_tab_img_left">
								<div class="demo">
									<a class="cm-overlay" href="images/thegrid.jpg">
										<figure class="imghvr-shutter-in-out-diag-2"><img src="images/thegrid.jpg" alt=" " class="img-responsive" />
										</figure>
									</a>
								</div>
								<div class="agile-gallery-info">
									<h5>The Gird</h5>
									<a href="https://thegrid93.herokuapp.com/signup" target="_blank">Preview</a><br>
									<a href="https://github.com/kilometer1951/thegird" target="_blank">Github Repo</a>
								</div>
							</div>
							<div class="col-sm-3 w3_tab_img_left">
								<div class="demo">
									<a class="cm-overlay" href="images/thegrid2.jpg">
										<figure class="imghvr-shutter-in-out-diag-2"><img src="images/thegrid2.jpg" alt=" " class="img-responsive" />
										</figure>
									</a>
								</div>
								<div class="agile-gallery-info">
									<h5>Yelpcamp</h5>
									<a href="https://whispering-falls-17610.herokuapp.com/" target="_blank">Preview</a><br>
									<a href="https://github.com/kilometer1951/yelpcamp" target="_blank">Github Repo</a>
								</div>
							</div>
							<div class="col-sm-3 w3_tab_img_left">
								<div class="demo">
									<a class="cm-overlay" href="images/thegrid3.JPG">
										<figure class="imghvr-shutter-in-out-diag-2"><img src="images/thegrid3.JPG" alt=" " class="img-responsive" />
										</figure>
									</a>
								</div>
								<div class="agile-gallery-info">
									<h5>Mountain Travel</h5>
									<a href="https://montaintravel.herokuapp.com/" target="_blank">Preview</a><br>
									<a href="https://github.com/kilometer1951/montain_travel" target="_blank">Github Repo</a>

								</div>
							</div>
							<div class="col-sm-3 w3_tab_img_left">
								<div class="demo">
									<a class="cm-overlay" href="images/thegrid4.JPG">
										<figure class="imghvr-shutter-in-out-diag-2"><img src="images/thegrid4.JPG" alt=" " class="img-responsive" />
										</figure>
									</a>
								</div>
								<div class="agile-gallery-info">
									<h5>Fiverr Clone</h5>
									<a href="https://morning-plateau-98641.herokuapp.com/" target="_blank">Preview</a><br>
									<a href="https://github.com/kilometer1951/fiverrclone" target="_blank">Github Repo</a>
								</div>
							</div>



							<div class="clearfix"> </div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<script src="js/jquery.tools.min.js"></script>
		<script src="js/jquery.mobile.custom.min.js"></script>
		<script src="js/jquery.cm-overlay.js"></script>
		<script>
			$(document).ready(function () {
				$('.cm-overlay').cmOverlay();
			});
		</script>
	</div>
	<!-- //menu -->
	<!-- services -->
	<div class="w3ls-section services" id="services">
		<div class="container">
			<h3 class="agileits-title text-center">My Stack</h3>
			<div class="services-w3ls-row agileits-w3layouts service1 text-center">
				<h5>Mean stack</h5>
				<p>JSX, Babel, node.js, javascript, React and Redux, Angular, Ajax, Express, Html, css, Bootstrap, FlexBox, Jasmine, Mongodb, AWS</p>
				<div class="s-top">
					<span class="fa fa-laptop" aria-hidden="true"></span>
				</div>
			</div>
			<div class="services-w3ls-row agileits-w3layouts middlegrid-w3ls">
				<div class="col-md-4 services-grid agileits-w3layouts service2">
					<div class="col-md-10 w3ls-sub-text">
						<h5>Lamp stack</h5>
						<p>Linux, Apache, MySQL, PHP, Bootstrap, Html, css, javascript, Ajax</p>
					</div>
					<div class="col-md-2 sub-icon">
						<span class="fa fa-caret-square-o-up" aria-hidden="true"></span>
					</div>
				</div>
				<div class="col-md-4 services-grid img-agileits">
					<img src="images/services.jpg" class="img-responsive" alt="" />
				</div>
				<div class="col-md-4 services-grid agileits-w3layouts service3">
					<div class="col-md-2 sub-icon">
						<span class="fa fa-grav" aria-hidden="true"></span>
					</div>
					<div class="col-md-10 w3ls-sub-text">
						<h5>D3</h5>
						<p>SVG, Animations, html, css </p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="services-w3ls-row agileits-w3layouts service4">
				<div class="s-top">
					<span class="fa fa-adjust" aria-hidden="true"></span>
				</div>
				<h5>Windev</h5>
				<p>Windev Mobile, Windev Desktop, Windev Web</p>
			</div>
		</div>
	</div>
	<!-- //services -->
	<!-- contact -->
	<div class="contact-w3-agileits w3ls-section" id="contact">
		<div class="container">
			<h3 class="agileits-title cont-w3l">Feel free to contact me</h3>
			<div class="contact-main-w3ls">
				<div class="col-md-6  contact-left-w3ls">
					<div class="mail contact-grid-agileinfo">
						<div class="col-md-4 col-sm-4 col-xs-4 contact-icon-wthree">
							<h4>Mail me</h4>
						</div>
						<div class="col-md-8  col-sm-8 col-xs-8 contact-text-agileinfo">
							<a href="mailto:sergeshalowilson@gmail.com">sergeshalowilson@gmail.com</a><br>
							<a href="mailto:info@example.com" style="visibility:hidden;">sergeshalowilson@gmail.com</a><br>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="call contact-grid-agileinfo">
						<div class="col-md-4 col-sm-4 col-xs-4 contact-icon-wthree">
							<h4>Phone</h4>
						</div>
						<div class="col-md-8 col-sm-8 col-xs-8 contact-text-agileinfo">
							<p>708-737-8669</p>
							<p style="visibility:hidden;">708-737-8669</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="contact-grid-agileinfo">
						<div class="col-md-4 col-sm-4 col-xs-4 contact-icon-wthree">
							<h4>Address</h4>
						</div>
						<div class="col-md-8 col-sm-8 col-xs-8 contact-text-agileinfo">
							<p>Chicago<br> USA.
							<p style="visibility:hidden;">Chicago<br> USA.
							</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="visit wthree-social-icons contact-grid-agileinfo">
						<div class="col-md-4 col-sm-4 col-xs-4 contact-icon-wthree">
							<h4>Follow me</h4>
						</div>
						<div class="col-md-8 col-sm-8 col-xs-8 contact-text-agileinfo">
							<ul class="w3-links">
								<li><a href="https://www.linkedin.com/in/shalo-serge-b6758a124/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="https://github.com/kilometer1951" target="_blank"><i class="fa fa-github"></i></a></li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="contact-main">

					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- //contact -->
	<div class="agileits_w3layouts-footer">
		<p>© 2018 Design by <a href="/"> Serge Shalo</a></p>
	</div>
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
<script type="text/javascript" src="/js/SmoothScroll.min.js"></script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/bootstrap.js"></script>
</body>
</html>